body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center-block {
    margin-top: 10px;
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

    .center-block label {
        padding-top: 5px;
    }

.center-block-text {
    margin-top: 10px;
    width: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#submitbtn {
    width: 200px;
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.welcome-text {
    text-align: center;
    font-size: 50px;
    width: 700px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
}

.row > img {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 60%;
}

@media(max-width:767px) {
    .center-block {
        width: 300px;
    }

    #submitbtn {
        width: 200px;
    }

    .welcome-text {
        font-size: 40px;
    }
}

.headerDiv a, .headerDiv h3, .headerDiv h1 {
    display: inline;
}
.toppadding{
    padding-top:20px;
}
.headerDiv span{
    margin-left:15px;
}

.headerDiv a {
    float: right;
}

    .headerDiv a:first-of-type {
        margin-left: 30px;
    }

.bottom-margin {
    margin-bottom: 60px;
}


.century, .decade, .year, .month {
    margin: 5px;
    font-weight: 600;
}

.panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.accordion-header-link, .accordion-header-link:hover, .accordion-header-link:active, .accordion-header-link:focus {
    color: black;
    text-decoration: none;
}

.panel-body {
    border-top: 1px solid #ddd;
}

.panel-group {
    margin-top: 50px;
}

#courseButtons {
    margin-left: 20px;
}

#redisterHeadDiv{
    margin-top:20px;
}

#redisterHeadDiv h2{
    display:inline;
}

#redisterHeadDiv span{
    display:inline;
    vertical-align:text-bottom;
}

.fake-link{
    border:none;
    outline:none;
    background:none;
    color:#337ab7;
}

.fake-link:hover{
    text-decoration:underline;
}