body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    1. All around
    2. Schedule
    3. Create Course
    4. Log in
    5. Register student
    6. Course details
    7. Student splashscreen
    8. Create Document
    9. List Document
*/

/*======================================= 1. All around ===================================*/

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.Width-90 {
    width: 90%;
}

.fake-link {
    background: none;
    border: none;
    outline: none;
    color: #337ab7;
}

    .fake-link:hover {
        text-decoration: underline;
    }

.bottom-margin {
    margin-bottom: 60px;
}

.toppadding {
    padding-top: 20px;
}


/*======================================= 2. Schedule ===================================*/

.schedule-margin {
    margin-top: 98px;
}

.schedule {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

    .schedule > thead > tr > th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
    }

    .schedule tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: #000000;
        border-bottom: 4px solid;
    }

.schedule {
    font-family: 'Calibri';
    font-size: 15px;
}

    .schedule tr:nth-child(odd) {
        background-color: #bdd7ee;
    }

    .schedule .no-activity {
        background-color: #f8cbad !important;
    }

    .schedule th {
        background-color: #ffffff;
        padding-left: 15px;
        font-weight: normal;
    }

    .schedule td {
        padding-left: 15px;
    }

    .schedule .fake-link {
        color: #000000;
    }

    .schedule .leftblackborder {
        border-left: 4px solid #000000;
    }

.scheduleTitle {
    font-weight: normal;
    font-size: 20px;
    margin-left: 15px;
}

.assignment-img {
    height: 15px;
    width: 15px;
}


/*======================================= 3. Create Course ===================================*/



#nextWeek {
    float: right;
}

.modal-header h2, .modal-header span {
    display: inline;
}

.panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.accordion-header-link, .accordion-header-link:hover, .accordion-header-link:active, .accordion-header-link:focus {
    color: black;
    text-decoration: none;
}

.panel-body {
    border-top: 1px solid #ddd;
}

.panel-group {
    margin-top: 50px;
}

#courseButtons {
    margin-left: 20px;
}

#moduleListDiv {
    margin-top: 80px;
}

.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
    color: rgba(189, 189, 189, 0.48);
}



/*========================================== 4. Log in ======================================*/

.center-block {
    margin-top: 10px;
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

    .center-block label {
        padding-top: 5px;
    }

.center-block-text {
    margin-top: 10px;
    width: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#submitbtn {
    width: 200px;
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.welcome-text {
    text-align: center;
    font-size: 50px;
    width: 700px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
}

.row > img {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 60%;
}

@media(max-width:767px) {
    .center-block {
        width: 300px;
    }

    #submitbtn {
        width: 200px;
    }

    .welcome-text {
        font-size: 40px;
    }
}


/*======================================= 5. Register student ==================================*/


#redisterHeadDiv {
    margin-top: 20px;
}

    #redisterHeadDiv h2 {
        display: inline;
    }

    #redisterHeadDiv span {
        display: inline;
        vertical-align: text-bottom;
    }

    #redisterHeadDiv h2 {
        display: inline;
    }

    #redisterHeadDiv span {
        margin-left: 15px;
    }


/*======================================= 6. Course details ==================================*/

.headerDiv a, .headerDiv h3, .headerDiv h1 {
    display: inline;
}

.headerDiv span {
    color: black;
    margin-left: 15px;
}

.headerDiv h3 {
    color: black;
}

.hover-link:hover a, .hover-link a:focus {
    text-decoration: none;
}

.headerDiv p {
    float: right;
}

.headerDiv a:first-of-type {
    margin-left: 30px;
}


/*======================================= 7. Student splashscreen ==================================*/

#currentModule a {
    background-image: none;
    color: black;
    top: inherit;
}

#myCarousel {
    margin-bottom: 20px;
}

.assignmentList {
    margin-top: 40px;
}

/*======================================= 8. Create Document ==================================*/
#fileselected {
    margin-left: 10px;
}

/*======================================= 9. List Document ==================================*/

.document-list {
    font-size: 12px;
    color: #6D6D6D;
}

    .document-list > tbody > tr > td {
        border: none;
    }

    .document-list .selected {
        border: 1px solid #99D1FF;
        background-color: #CCE8FF;
    }

    .document-list .border {
        border: 1px solid #99D1FF;
    }

    .document-list .selected:hover {
        background-color: #CCE8FF;
    }

    .document-list tr:hover {
        background-color: #E5F3FF;
        cursor: default;
    }

    .document-list tr:nth-child(1):hover {
        background-color: white;
        cursor: default;
    }

    .document-list > tbody > tr > th {
        color: #4C6091;
        font-weight: 100;
    }

    .document-list td:first-child a {
        margin-left: 10px;
        color: black;
    }

    .document-list img {
        height: 20px;
    }

    .document-list > tbody > tr > td {
        line-height: 0.5;
        padding: 4px;
        vertical-align: inherit;
    }


