


<div id="CoursesCreateDiv">
   @{Html.RenderAction("Create");}
</div>

<div id="CoursesListDiv">
    @{Html.RenderAction("Index");}
</div>


<div id="ModulesCreateDiv">
   @{Html.RenderAction("Create", "Modules");}
</div>

<div id="ModulesListDiv">
    @{Html.RenderAction("Index","Modules");}
</div>

<div id="ActivitiesCreateDiv">
    @{Html.RenderAction("Create", "Activities");}
</div>

<div id="ActivitiesListDiv">
    @{Html.RenderAction("Index", "Activities");}
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")
}

